<header class="header">
  <img class="header__logo" src="{{ src_logo }}" alt="logo" [routerLink]="['']" />
  <nav class="nav">
    <a *ngFor="let item of menu" [routerLink]="item.link" [routerLinkActive]="['nav__link--active']" class="nav__link">
      {{
      item.name
      }}</a>
  </nav>

  <nav class="nav-user">
    <a *ngFor="let item of menuUser" [routerLink]="item.link" [routerLinkActive]="['nav-user__link--active']"
      class="nav-user__link">
      {{
      item.name
      }}</a>
  </nav>
</header>