@use "../base/variables" as v;
@use "../base/mixins" as m;

.header {
  position: relative;
  height: 9rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: v.$color-primary;
  padding: 1rem;

  @include m.desktop {
    height: 5rem;
    flex-direction: row;
  }

  &__logo {
    height: 3rem;
    cursor: pointer;
  }
}
