@use "../base/variables" as v;
@use "../base/mixins" as m;

.nav {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  &__link {
    color: v.$white;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    &--active {
      text-decoration: underline;
    }
    &::after {
      content: "";
      padding-right: 0.8rem;
      border-right: 0.1rem solid v.$white;
    }
    &:last-child::after {
      border: 0 solid;
    }
    &:hover {
      font-weight: bold;
    }
  }
}
